@import url(reset.css);



.area {
    width: 930px;
    margin: 0 auto;
    /* border: #CD0025 solid 1px; */
    font-family: Arial;
}



.step1 {
    width: 930px;
    display: block;
    margin: 0 auto;
    margin-top: 70px;
}


.area .title {
    display: flex;
    font-size: 32px;
    font-weight: bolder;
    margin-top: 70px;
    padding-left: 20px;
    align-items: flex-end;
    padding-bottom: 2px;
}

.area .red {
    display: inline;
    color: #CD0025;
    font-size: 12px;

}

.line {
    height: 24px;
    border-left: #CD0025 solid 5px;
}


.name {
    display: flex;
    padding-left: 20px;
    margin-top: 56px;
}


.name p {
    font-size: 20px;
    width: 320px;
    height: 24px;
    font-weight: bolder;
    line-height: 24px;
    padding-left: 5px;
}

input {
    width: 278px;
    height: 50px;
    border: 1px solid #707070;
    border-radius: 6px;
    font-size: 16px;

    padding-left: 9px;
    box-sizing: border-box;
    display: block;
    outline: none;
    margin-left: 32px;
    margin-top: 12px;
    font-size: 20px;

}

.IDcard {
    display: flex;
    padding-left: 20px;
    margin-top: 14px;
}


.IDcard p {
    font-size: 20px;
    width: 320px;
    height: 24px;
    font-weight: bolder;
    line-height: 24px;
    padding-left: 5px;
}


.skeep {
    width: 800px;
    height: 300px;
    border: #707070 solid 1px;
    margin-left: 32px;
}


.identity {
    display: flex;
    padding-left: 20px;
    margin-top: 14px;
}

.identity p {
    font-size: 20px;
    width: 320px;
    height: 24px;
    font-weight: bolder;
    line-height: 24px;
    padding-left: 5px;
}

ul input {
    height: 25px;
    width: 25px;
    margin-bottom: 10px;
    margin-right: 10px;


}


.chose li {
    display: flex;

}


.chose label {
    font-size: 18px;
    font-weight: bolder;
    padding-top: 18px;
}
.companyname {
   
    padding-left: 27px;
    margin-top: 24px;
}


.companyname p {
    font-size: 20px;
    width: 320px;
    height: 24px;
    font-weight: bolder;
    line-height: 24px;
    padding-left: 5px;
}

.companyphone {
   
    padding-left: 27px;
    margin-top: 12px;
     width: 580px;
}

.companyphone p {
    font-size: 20px;
    width: 320px;
    height: 24px;
    font-weight: bolder;
    line-height: 24px;
    padding-left: 5px;
}

.companyaddr {
   
    padding-left:27px;
    margin-top: 12px;
}

.companyaddr p {
    font-size: 20px;
    width: 320px;
    height: 24px;
    font-weight: bolder;
    line-height: 24px;
    padding-left: 5px;
}
.companyaddr{
    width: 580px;
}
.dropdown{
    display: flex;
}

.dropdown .chi{
    margin-left: 22px;
}
.companyweb {
    width: 580px;
   
    
}

.companyweb p {
    font-size: 20px;
    width: 320px;
    height: 24px;
    font-weight: bolder;
    line-height: 24px;
   
    padding-left:32px;
    margin-top: 12px;
}

.companyid p {
    font-size: 20px;
    width: 320px;
    height: 24px;
    font-weight: bolder;
    line-height: 24px;
   
    padding-left:32px;
    margin-top: 12px;
}
input.companyid{
    height: 280px;
}

.companyid .alr{
    color: #CD0025;
    font-size: 12px;
    margin-top: 0px;
    padding-left: 100px;
}

.companypc p {
    font-size: 20px;
    width: 320px;
    height: 24px;
    font-weight: bolder;
    line-height: 24px;
   
    padding-left:32px;
    margin-top: 12px;
}
input.companypc{
    height: 280px;
}


nav{
    z-index: 1
;
}



.next{
    display: block;
    width: 180px;
    height: 36px;
    line-height: 36px;
    background-color:#002B5B;
    text-align: center;
    color: #fff;
    border-radius: 6px;
    text-decoration-line: none;
   
    font-size: 16px;
    margin-left: 20px;
   
}
.keep{
    display: block;
    width: 180px;
    height: 36px;
    line-height: 36px;
    background-color:#fff;
    text-align: center;
    color:#002B5B;
    border-radius: 6px;
    text-decoration-line: none;
    border: 1px solid #002B5B;
    font-size: 16px;

}
.btn{
    display: flex;
    justify-content: center;
    margin: 120px auto 120px;
}