@import url('reset.css');

.main {
    width: 1200px;
    margin: 150px auto auto;
    padding: 0 20px;
    font-family: Arial;
    /* outline: 1px solid blue; */
}

.contain {
    max-width: 980px;
    margin: 0 auto;
    /* outline: 1px solid green; */
}


a {
    text-decoration: none;
    color: black;
    font-size: 18px;
}


.breadcrumb {
    margin-top: 50px;
}

.breadcrumb-item.active {
    color: #002B5B;
}

.personalJob {
    margin-top: 50px;

}


.personalJob a {
    display: inline-block;
    font-size: 32px;
    font-weight: 700;

}

.postJob {
    color: #707070;
}

.DoneJob {
    margin-left: 40px;
}


.DoneJob::after {
    content: '';
    display: block;
    width: 190px;
    height: 8px;
    background-color: #102C57;
    margin-top: 10px;
}

.search_section {
    margin-top: 100px;
    display: flex;
    justify-content: flex-end;

}

.custom-select {
    margin-left: 20px;
}


input[type="text"][name="query"] {
    width: 320px;
    height: 60px;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 0px;
    outline: none;
}

input::placeholder {
    color: #AFAFAF;
}


input[type="submit"] {
    width: 200px;
    height: 60px;
    background-color: #002B5B;
    color: white;
    border: none;
    cursor: pointer;
}


.search form {
    display: flex;
    align-items: center;
    margin: 0;
}




.custom-select select {
    width: 180px;
    height: 60px;
    border-radius: 0;
    background-color: white;

}

/* 拿掉原本預設的select icon，該用fontawsome */
.custom-select {
    position: relative;

}

.custom-select select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

select:first-child {
    padding-left: 25px;
}


.custom-select {
    position: relative;
    display: inline-block;
}

.custom-select select {
    padding-right: 30px; 
}

.custom-select i {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    pointer-events: none; 
}

/* 拿掉原本預設的select icon，該用fontawsome 結束 */



/* --------------------工作卡片區-------------------------- */


.card_section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* outline: 1px solid red; */
    margin-top: 50px;
    margin-bottom: 320px;
}



.card_broder {
    border: 1px solid #A1A0A0;
    width: 480px;
    height: 200px;
    margin-bottom: 20px;

}

.job_title {
    font-size: 28px;
    font-weight: 700;

}

.completed-time,
.time-value,
.freelancer,
.name {
    font-size: 20px;
    color: #505050;
}

.buttons {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
    margin-right: 20px;

}

.view-applicants-button {
    display: block;
    width: 140px;
    height: 50px;
    background-color: #002B5B;
    color: white;
    font-size: 20px;
    text-align: center;
    line-height: 50px;
}

.job_content {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}

.job_title {
    margin-top: 30px;
}

.completed-time {
    margin-top: 20px;
}

.time-value,
.name {
    margin-left: 3px;
}

.freelancer {
    margin-top: 10px;
}



/* -----頁碼------- */
.page_number {
    display: block;
    margin: 0 auto;
    margin-bottom: 80px;
}